<div class="col-9">
    <div class="row justify-content-center">
        <!----------------------------- INICIO DE SESIÓN ----------------------------------------->
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" *ngIf="!showData">
                <div class="card">
                
                    <h3 class="formTitle">Inicio de Sesión</h3>
                        <div *ngIf="showError" class="alert alert-danger" role="alert">
                            {{errorMessage}}
                        </div>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <input type="text" id="user" placeholder="Usuario" class="form-control"  formControlName="user"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <input type="password" id="password"  placeholder="Contraseña" class="form-control" formControlName="password"/>
                            </div> 
                        </div>
                    </div><br/>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <button type="submit" class="loginboton" [disabled]="!loginForm.valid">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <form [formGroup]="data" *ngIf="showData">
            <div class="row mb-3 justify-content-center">
                <div class="col-sm-11">
                    <button type="submit" class="loginboton">
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </form>


    </div>
</div>