.footerGeneralStyle {
    /* margin-top: 20px; */
    background-color: black;
    background-size: 80% 10%;
    padding: 20px 0px;
    text-align: center;
}

.logo {
    height: 100%;
  }
  
  .logo img {
    height: 200px; 
    width: 200px;
  }
  


@media (max-width: 600px) {
    .logo {
        padding-top: 1px;
    }

    .socialMedia{
        padding-top: 1px;
    }

    .adresses{
        padding-top: 0px;
    }

    .footerGeneralStyle{
        height: 1%;
    }
    
}