<footer class="footerGeneralStyle">
    <div class="container">
        
        <div class="socialMedia">
            <section class="mb-4">
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/EdificiosSoluciones?mibextid=ZbWKwL" role="button">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://instagram.com/oscaralfredomaidana?igshid=YmMyMTA2M2Y" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
                <a class="btn text-white btn-floating m-1" style="background-color: #25D366;" role="button" (click)="redirectToWhatsApp()">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </section>
        </div>
       
        <div class=" adresses">
            <h6 style="color:white ;">Paraguay 1471</h6>
            <h5 style="color:white ;">Corrientes Capital- Argentina</h5>
        </div>
        
        <div class="justify-content-center text-center" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="row pb-3">
                <h6 class="text-white-50 ">© 2022 Copyright Soluciones en Obras Civiles S.R.L</h6>
            </div>
        </div>  

    </div>
  </footer>
